<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button @click="getMusic()" >Show</button>
        <div>
            <input type="text" v-model="sort" placeholder="Search">
            <button @click="sortMusic()">Sort</button>
        </div>
        
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Path</th>
            </tr>
            <tr v-for="music in musics">
                <td>{{music.id}}</td>
                <td>{{music.title}}</td>
                <td>{{music.artist}}</td>
                <td>{{music.album}}</td>
                <td>{{music.genre}}</td>
                <td>{{music.year}}</td>
                <td>{{music.path}}</td>

        </table>
        <input type="text" v-model="music.title" placeholder="Title">
        <input type="text" v-model="music.artist" placeholder="Artist">
        <input type="text" v-model="music.album" placeholder="Album">
        <input type="text" v-model="music.genre" placeholder="Genre">
        <input type="text" v-model.number="music.year" placeholder="Year">
        <input type="text" v-model="music.path" placeholder="Path">
       <button @click="postMusic()">Add</button>


    </div>
    <script src="js/index.js"></script>
</body>
</html>